[submodule "OdinService"]
	path = OdinService
	url = https://github.com/gauravxor/OdinService.git
[submodule "NucleusService"]
	path = NucleusService
	url = https://github.com/gauravxor/NucleusService.git
[submodule "CrownService"]
	path = CrownService
	url = https://github.com/gauravxor/CrownService.git
[submodule "GalactusService"]
	path = GalactusService
	url = https://github.com/gauravxor/GalactusService.git
[submodule "ControlShiftCommons"]
	path = ControlShiftCommons
	url = https://github.com/gauravxor/ControlShiftCommons.git
